@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.title {
    margin: 0 ;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  color: #303030;
  text-shadow: 10px 10px 5px #f26858;
}
