input[type="file"] {
    display: none;
}

.customFileUpload {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  cursor: pointer;
  width: 5rem;
}

.wrapper{
  margin-top:30px;
  width: 6rem;
}

.filePreview {
  margin: 0 10px;
}
