input[type="file"] {
    display: none;
}

.customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}

.wrapper{
  margin-top:30px;
}
.filePreview {
  margin: 0 10px;
}
